
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #416c8b;
    background-color: #f4f4f9;
    line-height: 1.6;
    margin: 0;
}


header {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #afc3d8; 
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
    font-size: 1.1em;
}

li>a{
    font-size: 20px;
}


nav {
    background-color: #416c8b;
    padding: 30px 0;
}

nav ul {
    list-style: none; 
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s; /
    
}

nav ul li a:hover {
    background-color: #9cadbe; 
    border-radius: 5px;
}



section {
    padding: 60px 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

section h2 {
    color: #80a7d1;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.imagem_logo{
    position: absolute;
    width: 75px;
    top: 1%;
    left: 8%;
    
}

main{
    flex: 1;
}

.conteudo{
    padding-top: 100px;
    max-width: 1300px;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    background-color: #416c8b;
    padding: 30px 0;
}

.rodape>img{
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: opacity 0.4s;
}

.rodape>img:hover{
    opacity: 1;
    cursor: pointer;
}

.rodape>p{
    color: white;
}

.texto_abaixo{
    margin-top: 370px;
}

.logo_absoluta{
    position: absolute;
    top: 15%;
    left: 70%;
}