
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    font-family: Arial, sans-serif;
    color: #416c8b;
    background-color: #f4f4f9;
    line-height: 1.6;
}


header {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #007bff; /* Azul vibrante */
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
    font-size: 1.1em;
}




nav {
    background-color: #416c8b;
    padding: 10px 0;
}

nav ul {
    list-style: none; 
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s; /
    
}

nav ul li a:hover {
    background-color: #0056b3; 
    border-radius: 5px;
}



section {
    padding: 60px 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

section h2 {
    color: #007bff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}